<link rel="stylesheet" href="/style/main.css">
</head>
<body>
    <header>

        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/searchPage">Search</a></li>
                <li><a href="/myListPage">My List</a></li>
            </ul>
        </nav>
    </header>
